# Preperation Process
- Determining what needs to be prepped with the data
- What needs to be prepped each time the project is recreated will go in the prepare.py file

In [1]:
import acquire
import prepare

import pandas as pd

In [2]:
df = acquire.get_churn_data()

In [3]:
# Transposing the first 5 columns of the data frame to see all columns with their data
df.head().T

,0,1,2,3,4
customer_id,0003-MKNFE,0013-MHZWF,0015-UOCOJ,0023-HGHWL,0032-PGELS
gender,Male,Female,Female,Male,Female
senior_citizen,0,0,1,1,0
partner,No,No,No,No,Yes
dependents,No,Yes,No,No,Yes
tenure,9,9,7,1,1
phone_service,Yes,Yes,Yes,No,No
multiple_lines,Yes,No,No,No phone service,No phone service
internet_service_type_id,1,1,1,1,1
online_security,No,No,Yes,No,Yes
online_backup,No,No,No,No,No
device_protection,No,No,No,No,No
tech_support,No,Yes,No,No,No
streaming_tv,No,Yes,No,No,No
streaming_movies,Yes,Yes,No,No,No
contract_type_id,1,1,1,1,1
paperless_billing,No,Yes,Yes,Yes,No
payment_type_id,2,4,1,1,3
monthly_charges,59.9,69.4,48.2,25.1,30.5
total_charges,542.4,571.45,340.35,25.1,30.5
churn,No,No,No,Yes,Yes
contract_type,Month-to-month,Month-to-month,Month-to-month,Month-to-month,Month-to-month
payment_type,Mailed check,Credit card (automatic),Electronic check,Electronic check,Bank transfer (automatic)
internet_service_type,DSL,DSL,DSL,DSL,DSL

In [4]:
# First, check for duplicate observations
df.duplicated().sum()
# We do not have any duplicate rows

0

# df.gender
- creating dummy vars for gender

In [5]:
# We can see the variables for gender are strings, to use in explore and modeling we will convert to a dummy variable
df.gender.value_counts()

Male      3555
Female    3488
Name: gender, dtype: int64

In [6]:
# Creates a data frame of gender dummy variables, if male == 1
df_dummies = pd.get_dummies(df.gender, drop_first=True)

# Add to the original df
df = pd.concat([df, df_dummies],axis=1)

# Drop the column, we do not need the string version of gender
df = df.drop('gender', axis=1)

# Checking the df that it was added correctly
df.head()

,customer_id,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,online_security,online_backup,...,contract_type_id,paperless_billing,payment_type_id,monthly_charges,total_charges,churn,contract_type,payment_type,internet_service_type,Male
0,0003-MKNFE,0,No,No,9,Yes,Yes,1,No,No,...,1,No,2,59.9,542.4,No,Month-to-month,Mailed check,DSL,1
1,0013-MHZWF,0,No,Yes,9,Yes,No,1,No,No,...,1,Yes,4,69.4,571.45,No,Month-to-month,Credit card (automatic),DSL,0
2,0015-UOCOJ,1,No,No,7,Yes,No,1,Yes,No,...,1,Yes,1,48.2,340.35,No,Month-to-month,Electronic check,DSL,0
3,0023-HGHWL,1,No,No,1,No,No phone service,1,No,No,...,1,Yes,1,25.1,25.1,Yes,Month-to-month,Electronic check,DSL,1
4,0032-PGELS,0,Yes,Yes,1,No,No phone service,1,Yes,No,...,1,No,3,30.5,30.5,Yes,Month-to-month,Bank transfer (automatic),DSL,0

# Prepping columns with Yes/No to 1/0

In [7]:
# Going to replace Yes and No for any columns whose only value is Yes or No
# Ex: multiple lines includes yes, no, and no phone service
for column in df.columns:
    x = ['customer_id','tenure','monthly_charges','total_charges']
    if column in x:
        pass
    else:
        print("\n" + column)
        print(df[column].value_counts())

senior_citizen
0    5901
1    1142
Name: senior_citizen, dtype: int64

partner
No     3641
Yes    3402
Name: partner, dtype: int64

dependents
No     4933
Yes    2110
Name: dependents, dtype: int64

phone_service
Yes    6361
No      682
Name: phone_service, dtype: int64

multiple_lines
No                  3390
Yes                 2971
No phone service     682
Name: multiple_lines, dtype: int64

internet_service_type_id
2    3096
1    2421
3    1526
Name: internet_service_type_id, dtype: int64

online_security
No                     3498
Yes                    2019
No internet service    1526
Name: online_security, dtype: int64

online_backup
No                     3088
Yes                    2429
No internet service    1526
Name: online_backup, dtype: int64

device_protection
No                     3095
Yes                    2422
No internet service    1526
Name: device_protection, dtype: int64

tech_support
No                     3473
Yes                    2044
No internet service    1526
Name: tech_support, dtype: int64

streaming_tv
No                     2810
Yes                    2707
No internet service    1526
Name: streaming_tv, dtype: int64

streaming_movies
No                     2785
Yes                    2732
No internet service    1526
Name: streaming_movies, dtype: int64

contract_type_id
1    3875
3    1695
2    1473
Name: contract_type_id, dtype: int64

paperless_billing
Yes    4171
No     2872
Name: paperless_billing, dtype: int64

payment_type_id
1    2365
2    1612
3    1544
4    1522
Name: payment_type_id, dtype: int64

churn
No     5174
Yes    1869
Name: churn, dtype: int64

contract_type
Month-to-month    3875
Two year          1695
One year          1473
Name: contract_type, dtype: int64

payment_type
Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: payment_type, dtype: int64

internet_service_type
Fiber optic    3096
DSL            2421
None           1526
Name: internet_service_type, dtype: int64

Male
1    3555
0    3488
Name: Male, dtype: int64

In [8]:
# Several columns are being represented by yes and no
# Going to replace Yes and No for any columns whose only value is Yes or No
# Ex: multiple lines includes yes, no, and no phone service
# Yes == 1, No == 0

df['partner'] = df['partner'].replace({'No': 0, 'Yes': 1})
df['dependents'] = df['dependents'].replace({'No': 0, 'Yes': 1})
df['phone_service'] = df['phone_service'].replace({'No': 0, 'Yes': 1})
df['paperless_billing'] = df['paperless_billing'].replace({'No': 0, 'Yes': 1})
df['churn'] = df['churn'].replace({'No': 0, 'Yes': 1})

df.head().T

,0,1,2,3,4
customer_id,0003-MKNFE,0013-MHZWF,0015-UOCOJ,0023-HGHWL,0032-PGELS
senior_citizen,0,0,1,1,0
partner,0,0,0,0,1
dependents,0,1,0,0,1
tenure,9,9,7,1,1
phone_service,1,1,1,0,0
multiple_lines,Yes,No,No,No phone service,No phone service
internet_service_type_id,1,1,1,1,1
online_security,No,No,Yes,No,Yes
online_backup,No,No,No,No,No
device_protection,No,No,No,No,No
tech_support,No,Yes,No,No,No
streaming_tv,No,Yes,No,No,No
streaming_movies,Yes,Yes,No,No,No
contract_type_id,1,1,1,1,1
paperless_billing,0,1,1,1,0
payment_type_id,2,4,1,1,3
monthly_charges,59.9,69.4,48.2,25.1,30.5
total_charges,542.4,571.45,340.35,25.1,30.5
churn,0,0,0,1,1
contract_type,Month-to-month,Month-to-month,Month-to-month,Month-to-month,Month-to-month
payment_type,Mailed check,Credit card (automatic),Electronic check,Electronic check,Bank transfer (automatic)
internet_service_type,DSL,DSL,DSL,DSL,DSL
Male,1,0,0,1,0

# Tenure
- renaming tenure column to specify months, creating column for tenure in months

In [9]:
# Renaming tenure to tenure_months before creating a tenure_years column
df = df.rename(columns = {'tenure':'tenure_months'})
df.head(1).T

                                       0
customer_id                   0003-MKNFE
senior_citizen                         0
partner                                0
dependents                             0
tenure_months                          9
phone_service                          1
multiple_lines                       Yes
internet_service_type_id               1
online_security                       No
online_backup                         No
device_protection                     No
tech_support                          No
streaming_tv                          No
streaming_movies                     Yes
contract_type_id                       1
paperless_billing                      0
payment_type_id                        2
monthly_charges                     59.9
total_charges                      542.4
churn                                  0
contract_type             Month-to-month
payment_type                Mailed check
internet_service_type                DSL
Male                                   1

In [10]:
# Creating a new feature, tenure in years, by dividing tenure in months by 12
df['tenure_years'] = round(df.tenure_months / 12, 2)
df.head(1)

,customer_id,senior_citizen,partner,dependents,tenure_months,phone_service,multiple_lines,internet_service_type_id,online_security,online_backup,...,paperless_billing,payment_type_id,monthly_charges,total_charges,churn,contract_type,payment_type,internet_service_type,Male,tenure_years
0,0003-MKNFE,0,0,0,9,1,Yes,1,No,No,...,0,2,59.9,542.4,0,Month-to-month,Mailed check,DSL,1,0.75

In [11]:
# A look at the data types for charges shows us only monthly is a float
df.monthly_charges.dtypes, df.total_charges.dtypes

(dtype('float64'), dtype('O'))

In [12]:
# the following code checks if all numbers in total_charges can be converted to ints
# we can only convert the number if the string has only digits, decimals, and commas
# there are 11 observations where it has more than this
numbers = set('0123456789.,')
count = 0
for x in df.total_charges:
    for y in x:
        if y not in numbers:
            count += 1
print(count)

11

In [13]:
# could be that the 11 observations have leading or trailing white space
df['total_charges'] = df.total_charges.str.strip()

In [14]:
# still does not convert to float
# df.astype({'total_charges':'float64'})
#gives an error

In [15]:
# let's take a different approach to finding the values that are not converting
df.total_charges.sort_values(ascending=True)
# we can see there are observations with no value

2048
6143
1949
1878
6615
         ...
6341    997.75
6261     998.1
3702    999.45
3392     999.8
4349     999.9
Name: total_charges, Length: 7043, dtype: object

In [16]:
# There are 11 customers with no tenure and therefore no total_charges 
# They also have 0 as churn, aka they are still with the company but have not been charged yet
df[df.tenure_months == 0]

,customer_id,senior_citizen,partner,dependents,tenure_months,phone_service,multiple_lines,internet_service_type_id,online_security,online_backup,...,paperless_billing,payment_type_id,monthly_charges,total_charges,churn,contract_type,payment_type,internet_service_type,Male,tenure_years
1878,1371-DWPAZ,0,1,1,0,0,No phone service,1,Yes,Yes,...,0,4,56.05,,0,Two year,Credit card (automatic),DSL,0,0.0
1949,2775-SEFEE,0,0,1,0,1,Yes,1,Yes,Yes,...,1,3,61.90,,0,Two year,Bank transfer (automatic),DSL,1,0.0
2029,4075-WKNIU,0,1,1,0,1,Yes,1,No,Yes,...,0,2,73.35,,0,Two year,Mailed check,DSL,0,0.0
2048,4472-LVYGI,0,1,1,0,0,No phone service,1,Yes,No,...,1,3,52.55,,0,Two year,Bank transfer (automatic),DSL,0,0.0
2132,5709-LVOEQ,0,1,1,0,1,No,1,Yes,Yes,...,0,2,80.85,,0,Two year,Mailed check,DSL,0,0.0
6143,2923-ARZLG,0,1,1,0,1,No,3,No internet service,No internet service,...,1,2,19.70,,0,One year,Mailed check,None,1,0.0
6569,2520-SGTTA,0,1,1,0,1,No,3,No internet service,No internet service,...,0,2,20.00,,0,Two year,Mailed check,None,0,0.0
6605,3115-CZMZD,0,0,1,0,1,No,3,No internet service,No internet service,...,0,2,20.25,,0,Two year,Mailed check,None,1,0.0
6615,3213-VVOLG,0,1,1,0,1,Yes,3,No internet service,No internet service,...,0,2,25.35,,0,Two year,Mailed check,None,1,0.0
6686,4367-NUYAO,0,1,1,0,1,Yes,3,No internet service,No internet service,...,0,2,25.75,,0,Two year,Mailed check,None,1,0.0
6895,7644-OMVMY,0,1,1,0,1,No,3,No internet service,No internet service,...,0,2,19.85,,0,Two year,Mailed check,None,1,0.0

In [17]:
# let's replace empty values with 0
# where function replaces when the conditional statement is false with the value specified
# So if tenure equals 0, replace with 0
df['total_charges'] = df.total_charges.where((df.tenure_months != 0),0)

#check it worked
df[df.tenure_months == 0]

,customer_id,senior_citizen,partner,dependents,tenure_months,phone_service,multiple_lines,internet_service_type_id,online_security,online_backup,...,paperless_billing,payment_type_id,monthly_charges,total_charges,churn,contract_type,payment_type,internet_service_type,Male,tenure_years
1878,1371-DWPAZ,0,1,1,0,0,No phone service,1,Yes,Yes,...,0,4,56.05,0,0,Two year,Credit card (automatic),DSL,0,0.0
1949,2775-SEFEE,0,0,1,0,1,Yes,1,Yes,Yes,...,1,3,61.90,0,0,Two year,Bank transfer (automatic),DSL,1,0.0
2029,4075-WKNIU,0,1,1,0,1,Yes,1,No,Yes,...,0,2,73.35,0,0,Two year,Mailed check,DSL,0,0.0
2048,4472-LVYGI,0,1,1,0,0,No phone service,1,Yes,No,...,1,3,52.55,0,0,Two year,Bank transfer (automatic),DSL,0,0.0
2132,5709-LVOEQ,0,1,1,0,1,No,1,Yes,Yes,...,0,2,80.85,0,0,Two year,Mailed check,DSL,0,0.0
6143,2923-ARZLG,0,1,1,0,1,No,3,No internet service,No internet service,...,1,2,19.70,0,0,One year,Mailed check,None,1,0.0
6569,2520-SGTTA,0,1,1,0,1,No,3,No internet service,No internet service,...,0,2,20.00,0,0,Two year,Mailed check,None,0,0.0
6605,3115-CZMZD,0,0,1,0,1,No,3,No internet service,No internet service,...,0,2,20.25,0,0,Two year,Mailed check,None,1,0.0
6615,3213-VVOLG,0,1,1,0,1,Yes,3,No internet service,No internet service,...,0,2,25.35,0,0,Two year,Mailed check,None,1,0.0
6686,4367-NUYAO,0,1,1,0,1,Yes,3,No internet service,No internet service,...,0,2,25.75,0,0,Two year,Mailed check,None,1,0.0
6895,7644-OMVMY,0,1,1,0,1,No,3,No internet service,No internet service,...,0,2,19.85,0,0,Two year,Mailed check,None,1,0.0

In [18]:
# Converting to float now works without 
df = df.astype({'total_charges':'float64'})

In [19]:
# Can also use dtypes to double check
df.dtypes

customer_id                  object
senior_citizen                int64
partner                       int64
dependents                    int64
tenure_months                 int64
phone_service                 int64
multiple_lines               object
internet_service_type_id      int64
online_security              object
online_backup                object
device_protection            object
tech_support                 object
streaming_tv                 object
streaming_movies             object
contract_type_id              int64
paperless_billing             int64
payment_type_id               int64
monthly_charges             float64
total_charges               float64
churn                         int64
contract_type                object
payment_type                 object
internet_service_type        object
Male                          uint8
tenure_years                float64
dtype: object

# Feature Engineering
Creating single variables from the combination of columns below:
- phone_service and multiple_lines
- dependents and partner
- streaming_tv & streaming_movies
- online_security & online_backup

### Phone_service + mulitple_lines
- phone_service states if a customer has or doesn't have phone service
- multiple_lines states if a customer has one phone line, multiple lines, or no phone service
- We will combine these two as:
    - 0 == no phone service
    - 1 == has phone service, one line
    - 2 == has phone service, multiple lines
- we can use the mulitple_lines variable to convert this
    - no phone service = 0
    - No = 1
    - Yes = 2

In [20]:
# using .replace to change values as stated above
df['multiple_lines'] = df.multiple_lines.replace({'No phone service': 0, 'No': 1, 'Yes': 2})

# we no longer need phone_service, now mulitple_lines states if a customer has phone service (if != 0)
df = df.drop('phone_service',axis=1)

# make multiple_lines our new phone_service feature
df = df.rename(columns={'multiple_lines':'phone_service'})
df.head()

,customer_id,senior_citizen,partner,dependents,tenure_months,phone_service,internet_service_type_id,online_security,online_backup,device_protection,...,paperless_billing,payment_type_id,monthly_charges,total_charges,churn,contract_type,payment_type,internet_service_type,Male,tenure_years
0,0003-MKNFE,0,0,0,9,2,1,No,No,No,...,0,2,59.9,542.40,0,Month-to-month,Mailed check,DSL,1,0.75
1,0013-MHZWF,0,0,1,9,1,1,No,No,No,...,1,4,69.4,571.45,0,Month-to-month,Credit card (automatic),DSL,0,0.75
2,0015-UOCOJ,1,0,0,7,1,1,Yes,No,No,...,1,1,48.2,340.35,0,Month-to-month,Electronic check,DSL,0,0.58
3,0023-HGHWL,1,0,0,1,0,1,No,No,No,...,1,1,25.1,25.10,1,Month-to-month,Electronic check,DSL,1,0.08
4,0032-PGELS,0,1,1,1,0,1,Yes,No,No,...,0,3,30.5,30.50,1,Month-to-month,Bank transfer (automatic),DSL,0,0.08

### Dependents + Partners
- dependents is 0 for none, or 1 for has dependents
- partners is 0 for no partner or 1 for has partner
- there are four different options for a customer
    - 0 == no partner, no dependents
    - 1 == partner or dependents
    - 2 == partner and dependents
- We will create a new columns that represents these three options as the part_depd column by taking the sum of partners + dependents

In [21]:
# taking the sum of the two columns to create a new single variable for partner or dependents
df['part_depd'] = df['partner'] + df['dependents']

# no longer need the columns by themselves
df = df.drop(['partner','dependents'],axis=1)

### Streaming Movies/TV
- streaming movies states whether or not the customer streams (yes or no), or if no because they do not have internet service
- streaming tv states whether or not the customer streams (yes or no), or if no because they do not have internet service
- let's see how big the difference is between customers who stream tv and/or movies to determine if we can combine the two together as a customer that simply streams movie or tv

In [22]:
print(df[df.streaming_movies == 'Yes'].streaming_movies.count(), 'customers stream movies.')
print(df[df.streaming_tv == 'Yes'].streaming_tv.count(), 'customers stream tv.')
print('Not a big difference, but are these customers mostly the same? Lets find out.')

2732 customers stream movies.
2707 customers stream tv.
Not a big difference, but are these customers mostly the same? Lets find out.

In [23]:
# customers that stream movies
movies = df[df.streaming_movies == 'Yes']

#customers that stream tv
tv = df[df.streaming_tv == 'Yes']

# add the index of each together (each customer has a unique index)
together = movies.index.append(tv.index)

movie_tv = together.duplicated().sum()

# .duplicated returns true if the values is a duplicate
print('There are',movie_tv,'customers that stream both tv and movies.')

There are 1940 customers that stream both tv and movies.

In [24]:
# how many customers stream movies or tv, compared to all customers
stream_total = df[df.streaming_movies == 'Yes'].streaming_movies.count() + df[df.streaming_tv == 'Yes'].streaming_tv.count()
cust_total = len(df)
stream_percent = round((stream_total / cust_total) * 100, 2)
print(stream_percent,'percent of customers stream either movies or tv.')

movie_tv_percent = round((movie_tv/len(together)) * 100, 2)
print(movie_tv_percent,'percent of customers that stream, stream both tv and movies.')

77.23 percent of customers stream either movies or tv.
35.67 percent of customers that stream, stream both tv and movies.

In [25]:
df['streaming_movies'] = df.streaming_movies.replace({'No internet service': 0, 'No': 0, 'Yes': 1})
df['streaming_tv'] = df.streaming_tv.replace({'No internet service': 0, 'No': 0, 'Yes': 1})

In [26]:
df.head(5).T

,0,1,2,3,4
customer_id,0003-MKNFE,0013-MHZWF,0015-UOCOJ,0023-HGHWL,0032-PGELS
senior_citizen,0,0,1,1,0
tenure_months,9,9,7,1,1
phone_service,2,1,1,0,0
internet_service_type_id,1,1,1,1,1
online_security,No,No,Yes,No,Yes
online_backup,No,No,No,No,No
device_protection,No,No,No,No,No
tech_support,No,Yes,No,No,No
streaming_tv,0,1,0,0,0
streaming_movies,1,1,0,0,0
contract_type_id,1,1,1,1,1
paperless_billing,0,1,1,1,0
payment_type_id,2,4,1,1,3
monthly_charges,59.9,69.4,48.2,25.1,30.5
total_charges,542.4,571.45,340.35,25.1,30.5
churn,0,0,0,1,1
contract_type,Month-to-month,Month-to-month,Month-to-month,Month-to-month,Month-to-month
payment_type,Mailed check,Credit card (automatic),Electronic check,Electronic check,Bank transfer (automatic)
internet_service_type,DSL,DSL,DSL,DSL,DSL
Male,1,0,0,1,0
tenure_years,0.75,0.75,0.58,0.08,0.08
part_depd,0,1,0,0,2

### Online Security and Backup
- online security has three options
    - Yes == has security
    - No == no security
    - No internet service
- online backup has the same three options
- we know when customers do not have internet based on internet_service_type feature
- we will create a feature for security + backup combined as:
    - 0 == no backup or security
    - 1 == has backup only
    - 2 == has security only
    - 3 == has both security and backup

In [27]:
print((df.online_security == 'Yes').sum(),'customers have online security.')
print((df.online_backup == 'Yes').sum(),'customers have online backup.')
print('Not a big difference, but are these customers mostly the same? Lets find out.')

2019 customers have online security.
2429 customers have online backup.
Not a big difference, but are these customers mostly the same? Lets find out.

In [28]:
# customers that stream movies
backup = df[df.online_backup == 'Yes']

#customers that stream tv
security = df[df.online_security == 'Yes']

# add the index of each together (each customer has a unique index)
together = backup.index.append(security.index)

security_backup = together.duplicated().sum()

# .duplicated returns true if the values is a duplicate
print('There are',security_backup,'customers that stream both tv and movies.')

There are 1126 customers that stream both tv and movies.

In [29]:
# how many customers stream movies or tv, compared to all customers
online_total = df[df.online_backup == 'Yes'].online_backup.count() + df[df.online_security == 'Yes'].online_security.count()
cust_total = len(df)
online_percent = round((online_total / cust_total) * 100, 2)
print(online_percent,'percent of customers have online security or backup.')

sec_back_percent = round((security_backup/len(together)) * 100, 2)
print(sec_back_percent,'percent of customers that have these online features, have both security and backup.')

63.15 percent of customers have online security or backup.
25.31 percent of customers that have these online features, have both security and backup.

In [32]:
# create one for each instead of combining
#df['online_security']
df['online_security'] = df.online_security.replace({'No internet service': 0, 'No': 0, 'Yes': 1})
df['online_backup'] = df.online_backup.replace({'No internet service': 0, 'No': 0, 'Yes': 1})